* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #0b0b0b;
  color: white;
}

/* SECTIONS */
.section {
  min-height: 100vh;
  padding: 80px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* HERO */
.hero {
  background: #000;
}

.headshot {
  width: 220px;
  height: 220px;
  object-fit: cover;
  border-radius: 10px;
  border: 4px solid #c9a24d;
  margin-bottom: 20px;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.3rem;
  margin-bottom: 25px;
  color: #c9a24d;
}

h3 {
  font-size: 1.3rem;
  color: #e0c57a;
}

p {
  font-size: 1.25rem;
  max-width: 700px;
  margin-bottom: 15px;
}

/* BUTTONS */
.buttons {
  margin-top: 30px;
  display: flex;
  gap: 20px;
}

.buttons a,
.main-link {
  padding: 14px 30px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  background: #c9a24d;
  color: black;
}

/* SOCIALS */
.socials {
  margin-top: 30px;
  display: flex;
  gap: 25px;
}

.socials a {
  color: #c9a24d;
  font-size: 1.2rem;
  text-decoration: none;
}

/* MOBILE */
@media (max-width: 700px) {
  h1 {
    font-size: 2.3rem;
  }

  h2 {
    font-size: 1.9rem;
  }

  .buttons {
    flex-direction: column;
  }
}
