* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --gold: #c9a24d;
  --gold-soft: #e0c57a;
  --text-light: #f5f5f5;
  --text-muted: #bdbdbd;

  --bg-1: #0b0b0b;
  --bg-2: #121212;
  --bg-3: #181818;
  --bg-4: #1f1f1f;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #000;
  color: var(--text-light);
  overflow-x: auto;
  overflow-y: hidden;
}

/* HORIZONTAL WRAPPER */
.horizontal-wrapper {
  display: flex;
  height: 100vh;
  width: max-content;
}

/* PANELS */
.panel {
  width:
